body {
  display: flex;
  flex-direction: column;
  background-color: #2dcc9c;
  padding: 0rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cc370e;
}

a {
  text-decoration: none;
  color: #cc370e;
}

.left-header {
  font-size: 28px;
  font-weight: bold;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #cdc218;
  padding: 20px;
}

.left-landing {
  font-size: 18px;
  flex: 1 1 6rem;
}

.left-landing button {
  padding: 3px;
  border-radius: 6px;
  color: #cdc218;
  background-color: #cc370e;
}

img {
  flex: 1 1 3rem;
  width: 400px;
  border: black solid 2px;
  border-radius: 5%;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cc370e;
  padding: 20px;
}

.middle-section h2 {
  font-size: 36px;
  font-weight: bolder;
}
.illustration {
  border: #cc370e solid 2px;
  width: 100px;
  height: 100px;
  border-radius: 10%;
}
.boxes {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.testemonial {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #4204cc;
  color: whitesmoke;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
.call-to-action {
  display: flex;
}
.card {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.card-button {
  flex-basis: 200px;
  padding: 12px;
  border-radius: 6px;
}
